<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mb-1">
      <h3>Space-Q Studio</h3>
      <h4>Peterborough Renewable Energy Plant</h4>
      <p>Peterborough Green Energy Ltd is incorporated primarily to develop, build, own and operate the 18MW (Phase 1) Biomass Waste to Energy Power Plant Project in Peterborough, United Kingdom. <br>
        Once operational, the plant will draw upon a mix of best available technologies to achieve maximum diversion of waste from landfill and create renewable energy and recycled products at the same time.</p>
      <div class="row">
        <div class="col">
          <%= image_tag("Azam/PboroBack.png", class: "image")%>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 mb-1">
      <div class="figure">
        <%= image_tag("Azam/PBoroFront.png", class: "image") %>
        <figcaption class="figcaption text-center font-italic">Peterborough Energy Plant Entry <br>and Exit Elavation Views</figcaption>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag("Azam/PboroLong.png", class: "image mb-1") %>
    </div>
  </div>
</div>