<div class="container">
  <div class="row text-padding">
    <p class="overide">Worked as Senior Assistant Architect with ITPO for 11 years handling large exhibitions.
      Planning and Design of their layouts & approving the third party designs following the Govt. of India norms. </p>
    <p class="overide">Organising fairs & designing stalls at national & international levels. Operation & Maintenance of 150 acres of exhibition ground in New Delhi.</p>
    <p class="overide">Worked with team in designing and planning of exhibitions halls 8-11 and the development of surroundings such as restaurants and landscapes.</p>
  </div>
</div>