<div class="container">
  <div class="row">
    <div class="col">
      <h3>Indian Trade Promotion Organisation</h3>
      <h4>Pragati Maidan</h4>
      <p>Venue for large exhibitions and conventions in New Delhi. <br>
        It has an area of nearly 150 acres, with more than 625,000 metres of exhibition space, being among the biggest exhibition centers in India.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag("Pragati-Maidan.png", class: "image move-up") %>
    </div>
  </div>
</div>