<div class="container">
  <div class="row tower-image">
    <div class="col-12 col-md-4 slide2-text">
      <p>Worked as an Assistant Architect as part of a team tasked with the design of this project.</p>
      <p>I played a diversified role and my duties involved co-ordinating architecture with other services such as electrical, HVAC, plumbing and structure.</p>
      <p>I was also involved with the details and the working drawings related to all the internal and external finishes.</p>
      <p class="text-muted">The following images display the drawings for the entire complex as well as for a specific tower block.</p>
    </div>
    <div class="col-12 col-md-8">
      <%= image_tag("Laburnum-Tower-Scan.jpg", class: "image move-left") %>
      <figcaption class="figcaption text-center text-white font-italic">Tower Block D Interior</figcaption>
    </div>
  </div>
  <div class="row tower-image">
    <div class="col-12 col-md-8 ">
      <%= image_tag("Laburnum-Block-Scan.jpg", class: "image tower-image move-right space") %>
      <figcaption class="figcaption text-center text-white font-italic space">Laburnum Complex Plan</figcaption>
    </div>
    <div class="col-12 col-md-4">
      <%= image_tag("Tower-Block.jpg", class: "image tower-image move-left space") %>
      <figcaption class="figcaption text-center text-white font-italic space">Tower Block D</figcaption>
    </div>
  </div>
</div>