<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h3>Arcop Associates Private Limited</h3>
      <h4>The Laburnum</h4>
      <p class="overide">A self-contained luxury condominium with a mix of town houses, mid-rise apartments and towers. <br>
        Facilities include full power backup, recreational facilities including squash courts, swimming pool, golf, health club, etc.</p>
      <p class="font-italic overide">Completed in 1999<br>
        Client: Landbase India Pvt. Ltd.<br>
        Cost: INR. 1.3 Billion<br>
      <p class="text-muted overide">Gurgaon, Haryana</p>
    </div>
    <div class="col-12 col-md-4">
      <%= image_tag("Construction.png", class: "image construction") %>
    </div>
  </div>
  <div class="row">
    <div class="col fit-right">
      <%= image_tag("Photo1.jpg", class: "image1", style: "margin-top: 0.5rem")%>
    </div>
    <div class="col fit-left">
      <%= image_tag("Photo.jpg", class: "image2", style: "margin-top: 0.5rem") %>
    </div>
  </div>
</div>