<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <h3>Arcop Associates Private Limited</h3>
      <h4>Birla Corporate Office Building</h4>
      <p>Multi-storied office building with a 3 level basement for parking and plant rooms. <br>
        State-of-the-art facilities for building support systems and communication.
      </p>
    </div>
    <div class="col-12 col-md-5">
      <p class="font-italic">Completed in 1999<br>
        Client: NEI Properties Ltd. (a subsidiary of the Birla Group of Companies)<br>
        Cost: INR. 325 Million<br>
      <p class="text-muted">New Delhi, India<br>
        In Collaboration: Le Group Arcop, Montreal, Canada
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="bottom: 1rem">
      <%= image_tag("corporate-office-interior.png", class: 'image move-up') %>
    </div>
    <div class="col" >
      <%= image_tag("Corporate-Office.png", class: "image move-up") %>
    </div>
    <div class="col">
      <%= image_tag("corporate-office-exterior.png", class: "image move-up") %>>
    </div>
  </div>
</div>