<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <h3>eWaterPower</h3>
      <h4>Sandford Project</h4>
      <p>Uses 3 Archimedes screws to generate an estimated 1.6GWh of renewable electricity per year. <br>
        Equivalent demand for 500+ houses, comprising most of Sandford.</p>
    </div>
  </div>
</div>