
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>eWaterPower</h3>
        <h4>Abingdon Project</h4>
        <p class="overide">Project aimed to install 3 Archimedean screws with power generated forecast to be 100KW.<br>
          Planned to power around 200 houses.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <figure class="figure">
          <%= image_tag("Abingdon/Abingdon-Design.png", class: "image")%>
          <figcaption class="figure-caption font-italic text-center">Abingdon Isometric Views</figcaption>
        </figure>
      </div>
      <div class="col-12 col-md-4">
        <div class="container">
          <div class="row">
            <figure class="figure">
              <%= image_tag("Abingdon/Abingdon-Fish-Pass.png", class: "image") %>
              <figcaption class="figure-caption font-italic text-center">Abingdon Fish Pass Plan</figcaption>
            </figure>
          </div>
          <div class="row">
            <figure class="figure">
              <%= image_tag("Abingdon/Abingdon-cross-section.png", class: "image")%>
              <figcaption class="figure-caption font-italic text-center">Abingdon Cross-Section</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>