<div class="pos-f-t fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-3">
      <h4 data-menuanchor="Azam"><a href="#project1" class="head">Home</a></h4>
      <h5><%= link_to 'Contact', contacts_index_path, class:"custom"%></h5>
      <h5 data-menuanchor="Azam"><a href="#project1" class="project-link">Project 1</a></h5>
      <h5 data-menuanchor="ewaterpower"><a href="#project2" class="project-link">Project 2</a></h5>
      <h5 data-menuanchor="section1"><a href="#project3" class="project-link">Project 3</a></h5>
      <h5 data-menuanchor="section2"><a href="#project4" class="project-link">Project 4</a></h5>
      <h5 data-menuanchor="section3"><a href="#project5" class="project-link">Project 5</a></h5>
      <h5 data-menuanchor="section4"><a href="#project6" class="project-link">Project 6</a></h5>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark" id="navbar">
    <span class="title-name text-white">Vandana Sharma</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
