<div class="pos-f-t fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-3">
      <h4><%= link_to 'Home', root_path, class: "text-white"%></h4>
      <h5><%= link_to 'Contact', contacts_index_path, class:"custom"%></h5>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand title-name">VANDANA SHARMA</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
